---
import jobs from '../data/timeline.json';
---
<div class="grid grid-cols-2 gap-3">
    {jobs.map((item) => (
        <div>
            <h5>{item.company}</h5>
            <p class="lead">{item.dates}</p>
        </div>
        <div>
            <h5>{item.title}
                <small class="text-body-secondary">
                    {item.subtitle}
                </small>
            </h5>
            <ul>
                 {bullets.map() => (
                     <li>bullet</li>
                 )}
             </ul>
            <hr />
        </div>
        ))}
</div>

<!-- <ul>
    {jobs.map((item) => (
        <li>{item.company}</li>
        <li>{item.title}</li>
        <li>{item.subtitle}</li>
        <li>{item.dates}</li>
        <li>{item.bullets}</li>
        <hr />
        // <ul>
        //     {item.bullets.map() => (
        //         <li>bullet</li>
        //     )}
        // </ul>
        ))}
</ul> -->

